n8n-workflows/load-core-philosophy.json
{
  "name": "OpenThaiAi — Load Core Philosophy into Vector Memory",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Keep this in sync with docs/ai-memory/core-philosophy.json — this node embeds a copy\n// (same pragmatic approach the existing openthai-ai-automation.json workflow uses for its\n// hardcoded LINE templates). If core-philosophy.json changes, update this node's code too,\n// then re-import this workflow. See docs/ai-memory/INTEGRATION_GUIDE.md, Option C.\nconst core = {\n  id: 'openthaiai-core-philosophy-v1',\n  version: '1.0.0',\n  core_philosophy: {\n    statement: 'Ground truth over narrative confidence. A claim about this project\\'s architecture, features, or state — no matter which AI assistant produced it, no matter how confident or detailed it sounds — is only as good as its citation to the real repository (source code, migrations, git log, deployed behavior). When a claim and the repo disagree, the repo wins.',\n    one_line: 'Verify against the repo. Every time. No exception for confidence or detail.'\n  },\n  key_lessons: [\n    {\n      id: 'lesson_01_verify_before_build',\n      title: 'Verify scope against the real repo before implementing pasted content',\n      statement: 'Before implementing any specification pasted from another AI conversation, grep the actual repository for the classes, tables, and env vars it claims exist. If they don\\'t exist, pause and confirm scope with the human before building.',\n      evidence: ['DECISIONS_LOG.md — Rejected: Neo4j graph database', 'DECISIONS_LOG.md — Rejected: cross-border USD/Stripe/PCI-DSS escrow platform']\n    },\n    {\n      id: 'lesson_02_derive_dont_hardcode',\n      title: 'A single source of truth must be derived from code, never hand-typed',\n      statement: 'Any status/context document meant to keep multiple readers aligned must be generated by parsing the real repository, not hand-maintained as a static summary that can silently drift from reality.',\n      evidence: ['scripts/generate-project-status.mjs replacing the hardcoded daily-briefing.sh']\n    },\n    {\n      id: 'lesson_03_fairness_both_sides',\n      title: 'Fairness requires hearing and notifying both sides before deciding',\n      statement: 'Any process that adjudicates between two parties must give both sides visibility and a chance to respond before a decision is finalized, not just the side that triggered the workflow.',\n      evidence: ['backend/disputes.js respond() and track()', 'sendDisputeNotification() now emails both parties']\n    }\n  ]\n};\n\nconst items = [];\nitems.push({ json: { text: core.core_philosophy.statement, type: 'philosophy', metadata: { source_id: core.id, version: core.version } } });\nfor (const lesson of core.key_lessons) {\n  items.push({ json: { text: `${lesson.title}: ${lesson.statement}`, type: 'lesson', metadata: { lesson_id: lesson.id, evidence: lesson.evidence } } });\n}\nreturn items;"
      },
      "name": "Core Philosophy Entries",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env[\"API_BASE\"] || \"http://localhost:8000\"}}/api/memory/store",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenantId", "value": "core-philosophy" },
            { "name": "text", "value": "={{$json[\"text\"]}}" },
            { "name": "type", "value": "={{$json[\"type\"]}}" },
            { "name": "metadata", "value": "={{JSON.stringify($json[\"metadata\"])}}" }
          ]
        }
      },
      "name": "Save to Memory (core-philosophy tenant)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Core Philosophy Entries", "type": "main", "index": 0 }]]
    },
    "Core Philosophy Entries": {
      "main": [[{ "node": "Save to Memory (core-philosophy tenant)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "last",
    "executionTimeout": 300
  },
  "tags": ["openthai-ai", "ai-memory", "core-philosophy"]
}
