from android mobile/n8n-workflows/openthai-content-automation.json
{
  "name": "Openthai.ai × Claude — Content Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openthai-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "🌐 Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "openthai-generate"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\n\n// Validate required fields\nconst required = ['platform','contentType','product','langs'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length) {\n  throw new Error(`Missing fields: ${missing.join(', ')}`);\n}\n\nconst langMap = { th:'🇹🇭 ไทย', cn:'🇨🇳 中文', en:'🇬🇧 English' };\nconst langs = Array.isArray(body.langs) ? body.langs : body.langs.split(',');\n\nreturn [{\n  json: {\n    platform: body.platform,\n    contentType: body.contentType,\n    product: body.product,\n    langs,\n    langNames: langs.map(l => langMap[l] || l).join(', '),\n    userId: body.userId || 'anonymous',\n    timestamp: new Date().toISOString(),\n  }\n}];"
      },
      "id": "validate-input",
      "name": "✅ Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RAILWAY_APP_URL }}/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "platform",    "value": "={{ $json.platform }}" },
            { "name": "contentType", "value": "={{ $json.contentType }}" },
            { "name": "product",     "value": "={{ $json.product }}" },
            { "name": "langs",       "value": "={{ $json.langs }}" },
            { "name": "userId",      "value": "={{ $json.userId }}" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "call-openthai-api",
      "name": "🤖 Call OpenThai API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst prev = $('✅ Validate & Prepare').first().json;\n\nif (!apiResult.success) {\n  throw new Error(apiResult.error || 'API returned failure');\n}\n\nconst content = apiResult.content;\nconst wordCount = content.split(/\\s+/).length;\nconst charCount = content.length;\n\nreturn [{\n  json: {\n    ...prev,\n    content,\n    wordCount,\n    charCount,\n    success: true,\n    formattedAt: new Date().toISOString(),\n  }\n}];"
      },
      "id": "process-result",
      "name": "📝 Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Generations",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":   "={{ $json.formattedAt }}",
            "UserID":      "={{ $json.userId }}",
            "Platform":    "={{ $json.platform }}",
            "ContentType": "={{ $json.contentType }}",
            "Product":     "={{ $json.product }}",
            "Languages":   "={{ $json.langs.join(',') }}",
            "CharCount":   "={{ $json.charCount }}",
            "WordCount":   "={{ $json.wordCount }}"
          }
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "📊 Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, content: $('📝 Process Result').item.json.content, platform: $('📝 Process Result').item.json.platform, wordCount: $('📝 Process Result').item.json.wordCount }) }}"
      },
      "id": "respond-success",
      "name": "✅ Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": { "responseCode": 500 }
      },
      "id": "respond-error",
      "name": "❌ Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 480]
    }
  ],
  "connections": {
    "🌐 Webhook Trigger": {
      "main": [[{ "node": "✅ Validate & Prepare", "type": "main", "index": 0 }]]
    },
    "✅ Validate & Prepare": {
      "main": [[{ "node": "🤖 Call OpenThai API", "type": "main", "index": 0 }]]
    },
    "🤖 Call OpenThai API": {
      "main": [[{ "node": "📝 Process Result", "type": "main", "index": 0 }]]
    },
    "📝 Process Result": {
      "main": [
        [{ "node": "📊 Save to Google Sheets", "type": "main", "index": 0 }],
        [{ "node": "✅ Respond Success",        "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["openthai", "claude", "commerce"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "openthai-unified-v3"
  }
}
